
.header__lang{
    width: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
}

.header__lang:hover{
    text-decoration: underline;
}

@media screen and (max-width: 424px) {
    .header__lang{
        
        font-size: 18px;
        line-height: 17px;
    }
}