@import url('../header/__logo/header__logo.css');
@import url("../header/__langs/header__langs.css");

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92.5%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
}


@media screen and (min-width: 1025px) {
    .header {
        max-width: 92.5%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .header {
        max-width: 93.75%;
    }
}

@media screen and (max-width: 424px) {
    .header {
        max-width: 90%;
    }
}