.cover__title{
    margin: 0 auto;
    margin-top: 274px;
    margin-bottom: 134px;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #FFFDFD;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .cover__title {
        margin-top: 190px;
        margin-bottom: 60px;
        width: 55%;
    }
}

@media screen and (max-width: 768px) and (min-width: 641px) {
    .cover__title{
        margin-top: 104px;
        margin-bottom: 35px;
        width: 65%
}
}

@media screen and (max-width: 640px) and (min-width: 425px) {
    .cover__title{
        margin-top: 180px;
        margin-bottom: 35px;
        width: 65%;
        font-size: 41px;
        line-height: 44px;
}
}

@media screen and (max-width: 424px) {
    .cover__title {
        width: 55%;
        margin-top: 113px;
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 35px;
    }
}