@import url('./__list/footer__list.css');
@import url('./__copyright/footer__copyright.css');

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
    margin-top: 160px;
    margin-bottom: 48px;
    font-family: Inter;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .footer {
        margin-top: 102px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 424px) {
    .footer {
        margin-top: 64px;
        flex-direction: column;
        align-items: flex-start;
    }
}