.additional__heading{
    position: absolute;
    top: 30px;
    left: 18px;
    width: 248px;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 29px;
    color: white;
    z-index: 1;
}