@import url('./place/place.css');


.places{
   width:76.87%; 
   margin: 0 auto;
   margin-top: 92px;
}

@media screen and (min-width: 1025px) {
   .places {
      width: 76.87%; 
   }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
   .places {
      width: 90%;
      margin-top: 102px;
   }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
   .places {
      width: 93.75%;
      margin-top: 102px;
   }
}

@media screen and (max-width: 424px) {
   .places {
      width: 100%;
      margin-top: 64px;
   }
}